/* *****Classi layout***** */

/* *****Classi utilities***** */
a {
    cursor: pointer;
}

nav i {
    cursor: pointer;
}

/* Linea di separazione */
.separation_line_white {
    width: 15%;
    background-color: white;
    height: 3px;
}

.separation_line_black {
    width: 15%;
    background-color: rgb(44, 62, 80);
    height: 3px;
}

.short_line {
    width: 8%;
}

/* Colori sfondo e testo */
.bg_black {
    background-color: rgb(44, 62, 80);
}

.c_black {
    color: rgb(44, 62, 80);
}

.bg_green {
    background-color: rgb(26, 188, 156);
}

.bg_darkgrey {
    background-color: #3a546d;
}

