/* *****Classi layout***** */

/* *****Classi utilities***** */
a {
    cursor: pointer;
}

nav, footer i {
    cursor: pointer;
}

.list-inline-item:not(:first-child) {
    padding: 0 4px;
}

footer .bg_darkgrey .row {
    font-size: .8rem;
}

/* Linea di separazione */
.separation_line_white {
    width: 15%;
    background-color: white;
    height: 3px;
}

.separation_line_black {
    width: 15%;
    background-color: rgb(44, 62, 80);
    height: 3px;
}

.short_line {
    width: 8%;
}

/* Icone circolari e effetto :hover*/
.circle {
    text-decoration: none;
    padding: 0 2px !important;
}

footer .circle a {
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 7px;
    border: 1px solid white;
    border-radius: 50%;
    height: 30px;
    width: 30px;
}

.icon_facebook:hover {
    background-color: #3b5998;
}

.icon_google:hover {
    background-image: linear-gradient(red, yellow, green, blue);
}

.icon_twitter:hover {
    background-color: #1da1f2;
}

.icon_linkedin:hover {
    background-color: #0077b5;
}

/* Form */
.set_input_tag {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

/* Colori sfondo e testo */
.bg_black {
    background-color: rgb(44, 62, 80);
}

.c_black {
    color: rgb(44, 62, 80);
}

.bg_green {
    background-color: rgb(26, 188, 156);
}

.c_green {
    color: rgb(26, 188, 156);
}

.bg_darkgrey {
    background-color: #3a546d;
}

.small {
    font-size: 10px;
}

.small i {
    font-size: 8px;
}

@media screen and (min-width: 768px) {
    .title_lg {
        font-size: 1.9rem;
    }
}
