/* *****Classi layout***** */

/* *****Classi utilities***** */
a {
    cursor: pointer;
}

nav, footer i {
    cursor: pointer;
}

/* Linea di separazione */
.separation_line_white {
    width: 15%;
    background-color: white;
    height: 3px;
}

.separation_line_black {
    width: 15%;
    background-color: rgb(44, 62, 80);
    height: 3px;
}

.short_line {
    width: 8%;
}

/* Icone circolari */
.circle {
    border: 1px solid white;
    border-radius: 50%;
}

footer .circle a {
    display: table-cell;
    vertical-align: top;
    text-align: center;
    width: 26px;
}

footer .circle a i {
    font-size: 10px;
    line-height: 24px;
}

/* Form */
.set_input_tag {
    border-top: none;
    border-left: none;
    border-right: none;
    border-radius: 0;
}

.form-control:focus {
    border-color: #ced4da;
    box-shadow: none;
}

/* Colori sfondo e testo */
.bg_black {
    background-color: rgb(44, 62, 80);
}

.c_black {
    color: rgb(44, 62, 80);
}

.bg_green {
    background-color: rgb(26, 188, 156);
}

.c_green {
    color: rgb(26, 188, 156);
}

.bg_darkgrey {
    background-color: #3a546d;
}

.small {
    font-size: 10px;
}

.small i {
    font-size: 8px;
}

